---
import type { Tokens } from "marked";
import type { TokenRendererProps } from "./TokenRenderer.astro";
import TokensRenderer from "./TokensRenderer.astro";

type Props = TokenRendererProps<Tokens.ListItem>;

const { token, context } = Astro.props;
---

<li><TokensRenderer {context} tokens={token.tokens} /></li>
