---
import { Flex } from "@radix-ui/themes";
import { BaseTheme } from "../components/BaseTheme";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <style is:global>
      @import "@radix-ui/themes/components.css";
      @import "@radix-ui/themes/layout.css";
      @import "@radix-ui/themes/tokens/base.css";
      @import "@radix-ui/themes/tokens/colors/indigo.css";
      @import "@radix-ui/themes/tokens/colors/mauve.css";
      @import "@radix-ui/themes/utilities.css";

      @import "@wooorm/starry-night/style/light";

      body {
        background-color: var(--gray-11);
        margin: 0;
      }
    </style>

    <slot name="head" />
  </head>

  <body>
    <BaseTheme>
      <Flex
        justify="center"
        p={{ initial: "4", sm: "6", md: "8" }}
        overflow="hidden"
        maxWidth="100vw"
      >
        <Flex
          direction="column"
          flexGrow="1"
          gap="9"
          maxWidth="min(45rem, 100%)"
        >
          <slot />
        </Flex>
      </Flex>
    </BaseTheme>
  </body>
</html>
